@import '../../../assets/colors.css';
:root {
    --companies__warning-container-pading-top: 5rem;
    --companies__warning-container__warning-text-border: 0.07rem;
    --companies__warning-container__warning-text-radius: 0.5rem;
    --companies__warning-container__warning-text-padding: 1rem;
    --companies__warning-container__warning-text__icon-pading: 0.5rem;
}

.companies__warning-container {
    padding-top: var(--companies__warning-container-pading-top);
    margin: auto;
    text-align: center;
}

.companies__warning-container__warning-text {
    max-width: 40%;
    border: dashed var(--companies__warning-container__warning-text-border) var(--primary-color);
    border-radius: var(--companies__warning-container__warning-text-radius);
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: var(--companies__warning-container__warning-text-padding);
    color: var(--warning-color);
}

.companies__warning-container__warning-text__icon {
    transform: scale(1.6);
    padding: var(--companies__warning-container__warning-text__icon-pading);
}